<html>
<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
  <div class="row">
    <form method="get" action="/refresh">
        <button type="submit" class="btn pull-right">
          Refresh
        </button>
    </form>
  </div>
  <div class="panel panel-default">
    <% ObjectSpace.each_object(Manhattan::Block) do |block| %>
      <div class="row vertical-align: top;">
        <div class="col-md-3">
          <h4>
            <%="#{block.name}"%>
          </h4>
        </div>
        <div class="col-md-3 col-md-offset-9">
          <p class="small text-muted">
            <%="#{block.code}"%>
          </code>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
        <% if block.status == 'stale' %>
          <p class="text-muted small">
        <% end %>
          <%="#{block.output}"%>
        </div>
        <div class="col-md-3">
          <form method="get" action="/">
            <input type="hidden" name="run" value="<%="#{block.name}"%>">
            <button type="submit" class="btn">
              Run <%="#{block.name}"%>
            </button>
          </form>
        </div>
      </div>
    <% end %>
  </div>
</html>
