<html>
  <head>
    <meta charset="utf-8">
    <title>::Manhattan</title>
    <link rel="stylesheet" href='manhattan.css'>
  </head>
  <body>
    <div id="page-wrap">
      <div id="inside">

        <div class="header">
          <div id="banner">
            <h1>Manhattan</h1>
          </div>
          <div id="statusarea">
            <p><b>Origin:</b></p>
            <p><%=Repo.origin.to_s %></p> 
            <p><b>Current repository head:</b></p> 
            <p><%=Repo.last_commit %></p> 
            <p><b>Remote head:</b></p> 
            <p><%=Repo.remote_head %></p> 
            <form method="get" action="/refresh">
              <button type="submit" class="blockrunbutton">
              Refresh
              </button>
            </form>
          </div>
        </div>

      <div class="blockarea">
        <% Manhattan::Block.all.each do |block| %>
          <div class="block">
            <div class="blockname">
              <h4>
              <%="#{block.name}"%>
              </h4>
            </div>
            <div class="blockcode">
              <p>Code: <pre><%="#{block.code}"%></pre>
            </div>
            <div class="blockoutput">
              <%="#{block.output}"%>
            </div>
            <div class="blockrunbutton">
              <form method="get" action="/">
                <input type="hidden" name="run" value="<%="#{block.name}"%>">
                <button type="submit" class="btn">
                Run <%="#{block.name}"%>
                </button>
              </form>
            </div>
          </div>
        <% end %>
      </div>

      </div>
    </div>
  </body>
</html>
